@import "tailwindcss";

@font-face{
  font-family: font1;
  src: url(../fonts/Lausanne-300.woff2);
}

@font-face{
  font-family: font2;
  src: url(../fonts/Lausanne-500.woff2);
}

.moveX{
  animation: moveAnimation 10s infinite linear;
}

.moveLink{
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.link:hover .moveLink{
  opacity: 1;
}

.cross:hover .line{
  background-color: #D3FD50;
}

@keyframes moveAnimation{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}